Zigbee2MQTT.json
[{"id":"5dd282cb2d8f9a98","type":"tab","label":"Zigbee","disabled":false,"info":"","env":[]},{"id":"e335763ef3fa9642","type":"mqtt in","z":"5dd282cb2d8f9a98","name":"","topic":"zigbee2mqtt/#","qos":"0","datatype":"auto-detect","broker":"47ca2af7.382984","nl":false,"rap":false,"inputs":0,"x":110,"y":180,"wires":[["bd21274024494477"]]},{"id":"57a23db34399ec0a","type":"debug","z":"5dd282cb2d8f9a98","name":"Manually_Z2M_USB","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":360,"wires":[]},{"id":"caca91df93ca7695","type":"inject","z":"5dd282cb2d8f9a98","name":"enable","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"control","payload":"enable","payloadType":"str","x":110,"y":240,"wires":[["bd21274024494477"]]},{"id":"64edcbfc71b1fb71","type":"inject","z":"5dd282cb2d8f9a98","name":"disable","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"control","payload":"disable","payloadType":"str","x":110,"y":280,"wires":[["bd21274024494477"]]},{"id":"1ccf38befa2bd9bc","type":"ui_led","z":"5dd282cb2d8f9a98","order":5,"group":"e984c0a6.577b38","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#808080","value":"State_Start","valueType":"str"},{"color":"#008000","value":"State_Wait","valueType":"str"},{"color":"#ff8000","value":"State_Restart_Z2M","valueType":"str"},{"color":"#ff0000","value":"State_Restart_USB","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"Zigbee_Down","x":1120,"y":700,"wires":[]},{"id":"881196d3f2eb3843","type":"debug","z":"5dd282cb2d8f9a98","name":"Z2M_FileSystem","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":880,"wires":[]},{"id":"515fea2bcf575dd8","type":"sshexec","z":"5dd282cb2d8f9a98","name":"Virtual_Machines","sshccfg":"","command":"/QVS/usr/bin/virsh list","addpay":"","append":"","useSpawn":"false","timer":"30","sigint":false,"x":310,"y":360,"wires":[["57a23db34399ec0a"],["57a23db34399ec0a"],["57a23db34399ec0a"]]},{"id":"f7170220aed269de","type":"inject","z":"5dd282cb2d8f9a98","name":"Cmd","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":360,"wires":[["515fea2bcf575dd8"]]},{"id":"d7a12306c9dfd365","type":"sshexec","z":"5dd282cb2d8f9a98","name":"Detach_USB","sshccfg":"","command":"/QVS/usr/bin/virsh detach-device bfe040e9-170d-4ee6-9651-123238730406  --file '/share/CACHEDEV1_DATA/VM/Home Assistant/config/z2m_usb_device.xml'","addpay":"","append":"","useSpawn":"false","timer":"60","sigint":false,"x":290,"y":420,"wires":[["57a23db34399ec0a"],["57a23db34399ec0a"],["57a23db34399ec0a"]]},{"id":"c7441648697819e6","type":"sshexec","z":"5dd282cb2d8f9a98","name":"Attach_USB","sshccfg":"","command":"/QVS/usr/bin/virsh attach-device bfe040e9-170d-4ee6-9651-123238730406  --file '/share/CACHEDEV1_DATA/VM/Home Assistant/config/z2m_usb_device.xml'","addpay":"","append":"","useSpawn":"false","timer":"60","sigint":false,"x":290,"y":480,"wires":[["57a23db34399ec0a"],["57a23db34399ec0a"],["57a23db34399ec0a"]]},{"id":"872ca8d43b6469df","type":"inject","z":"5dd282cb2d8f9a98","name":"Cmd","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":420,"wires":[["d7a12306c9dfd365"]]},{"id":"6aee5b5e5238688d","type":"inject","z":"5dd282cb2d8f9a98","name":"Cmd","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":480,"wires":[["c7441648697819e6"]]},{"id":"cc4a2f2ca38f34ca","type":"state-machine","z":"5dd282cb2d8f9a98","name":"Zigbee_stm","triggerProperty":"payload","triggerPropertyType":"msg","stateProperty":"payload","statePropertyType":"msg","initialDelay":"0","persistOnReload":false,"outputStateChangeOnly":true,"throwException":false,"states":["State_Wait","State_Restart_Z2M","State_Restart_USB"],"transitions":[{"name":"Trigger_Z2M_Up","from":"*","to":"State_Wait"},{"name":"Trigger_Z2M_Down","from":"State_Wait","to":"State_Restart_Z2M"},{"name":"Trigger_Z2M_Up","from":"State_Restart_Z2M","to":"State_Wait"},{"name":"Trigger_USB_Down","from":"State_Restart_Z2M","to":"State_Restart_USB"},{"name":"Trigger_USB_Down","from":"State_Restart_USB","to":"State_Restart_Z2M"},{"name":"Trigger_USB_Up","from":"State_Restart_USB","to":"State_Restart_Z2M"}],"x":890,"y":740,"wires":[["2e9bcd26de34d149","7d172453a302d091","6176ba2b8b4d9554","1ccf38befa2bd9bc"]]},{"id":"2d08f04dcff3e365","type":"poll-state","z":"5dd282cb2d8f9a98","name":"Poll Z2M Down","server":"a2003b12.8d4648","version":3,"exposeAsEntityConfig":"","updateInterval":"30","updateIntervalType":"num","updateIntervalUnits":"seconds","outputInitially":false,"outputOnChanged":false,"entityId":"binary_sensor.zigbee2mqtt_bridge_connection_state","stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is_not","outputs":2,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":680,"wires":[["10bea9acf899dfad"],["3e4c7b5a4eb204c6"]]},{"id":"67f1196554e088e7","type":"function","z":"5dd282cb2d8f9a98","name":"Z2M_Down","func":"msg.payload = \"Trigger_Z2M_Down\"\nreturn msg\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":640,"wires":[["cc4a2f2ca38f34ca","bda8a49dd55cea77"]]},{"id":"3e4c7b5a4eb204c6","type":"function","z":"5dd282cb2d8f9a98","name":"Z2M_Up","func":"msg.payload = \"Trigger_Z2M_Up\"\nreturn msg\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":700,"wires":[["cc4a2f2ca38f34ca","bda8a49dd55cea77"]]},{"id":"bbe99072665eab14","type":"api-call-service","z":"5dd282cb2d8f9a98","name":"Start Z2M","server":"a2003b12.8d4648","version":5,"debugenabled":true,"domain":"hassio","service":"addon_start","areaId":[],"deviceId":[],"entityId":[],"data":"{    \"addon\":\"45df7312_zigbee2mqtt\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1320,"y":660,"wires":[[]]},{"id":"2e9bcd26de34d149","type":"function","z":"5dd282cb2d8f9a98","name":"Restart_Z2M","func":"if (msg.payload == \"State_Restart_Z2M\") {\n    return msg\n} else {\n    return null\n}\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1110,"y":660,"wires":[["4f5a4b04f7bebcc3","bbe99072665eab14"]]},{"id":"7d172453a302d091","type":"debug","z":"5dd282cb2d8f9a98","name":"Z2M_FSM","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":740,"wires":[]},{"id":"8ec8563ae3b3e3a8","type":"file in","z":"5dd282cb2d8f9a98","name":"Z2M_Config","filename":"/homeassistant/zigbee2mqtt/configuration.yaml","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":370,"y":760,"wires":[["a5b952bac7842aa1"]]},{"id":"a5b952bac7842aa1","type":"yaml","z":"5dd282cb2d8f9a98","property":"payload","name":"","x":510,"y":760,"wires":[["0914ecc9918b2c45"]]},{"id":"0914ecc9918b2c45","type":"function","z":"5dd282cb2d8f9a98","name":"SerialInfo","func":"msg.payload = msg.payload.serial.port\nmsg.SerialPath = \"/dev/serial/by-id/\"\nmsg.SerialFile2 = msg.payload.substring(18, msg.payload.length)\nmsg.SerialFile = msg.payload.substring(msg.SerialPath.length, msg.payload.length)\nreturn msg","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":820,"wires":[["b5c6665b4881b08a","881196d3f2eb3843"]]},{"id":"b5c6665b4881b08a","type":"fs-access","z":"5dd282cb2d8f9a98","name":"","path":"SerialPath","pathType":"msg","filename":"SerialFile","filenameType":"msg","accessRead":false,"accessWrite":false,"x":530,"y":820,"wires":[["8cb38cc327a2ea6f"],["a94848db50dafc2f"]]},{"id":"8cb38cc327a2ea6f","type":"function","z":"5dd282cb2d8f9a98","name":"USB_Up","func":"msg.payload = \"Trigger_USB_Up\"\nreturn msg\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":800,"wires":[["cc4a2f2ca38f34ca","bda8a49dd55cea77"]]},{"id":"a94848db50dafc2f","type":"function","z":"5dd282cb2d8f9a98","name":"USB_Down","func":"msg.payload = \"Trigger_USB_Down\"\nreturn msg\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":840,"wires":[["cc4a2f2ca38f34ca","bda8a49dd55cea77"]]},{"id":"6176ba2b8b4d9554","type":"function","z":"5dd282cb2d8f9a98","name":"Restart_USB","func":"if (msg.payload == \"State_Restart_USB\") {\n    return msg\n} else {\n    return null\n}\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1110,"y":800,"wires":[["96720438f9d26372","d743949f3f71191b"]]},{"id":"d743949f3f71191b","type":"sshexec","z":"5dd282cb2d8f9a98","name":"Detach","sshccfg":"","command":"/QVS/usr/bin/virsh detach-device bfe040e9-170d-4ee6-9651-123238730406  --file '/share/CACHEDEV1_DATA/VM/Home Assistant/config/z2m_usb_device.xml'","addpay":"","append":"","useSpawn":"false","timer":"60","sigint":false,"x":1320,"y":800,"wires":[["70831a13f80db682","2ca1ddd8de370f82"],["2ca1ddd8de370f82"],["2ca1ddd8de370f82"]]},{"id":"70831a13f80db682","type":"sshexec","z":"5dd282cb2d8f9a98","name":"Attach","sshccfg":"","command":"/QVS/usr/bin/virsh attach-device bfe040e9-170d-4ee6-9651-123238730406  --file '/share/CACHEDEV1_DATA/VM/Home Assistant/config/z2m_usb_device.xml'","addpay":"","append":"","useSpawn":"false","timer":"60","sigint":false,"x":1510,"y":800,"wires":[["2ca1ddd8de370f82"],["2ca1ddd8de370f82"],["2ca1ddd8de370f82"]]},{"id":"bda8a49dd55cea77","type":"debug","z":"5dd282cb2d8f9a98","name":"Z2M_Trigger","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":900,"y":640,"wires":[]},{"id":"9203996434998217","type":"debug","z":"5dd282cb2d8f9a98","name":"Messages_Z2M","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":180,"wires":[]},{"id":"2ca1ddd8de370f82","type":"debug","z":"5dd282cb2d8f9a98","name":"FSM_Z2M_USB","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1690,"y":740,"wires":[]},{"id":"bd21274024494477","type":"gate","z":"5dd282cb2d8f9a98","name":"","controlTopic":"control","defaultState":"closed","openCmd":"enable","closeCmd":"disable","toggleCmd":"toggle","defaultCmd":"default","statusCmd":"status","persist":true,"x":310,"y":180,"wires":[["9203996434998217"]]},{"id":"4f5a4b04f7bebcc3","type":"debug","z":"5dd282cb2d8f9a98","name":"Z2M_DBG","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1330,"y":620,"wires":[]},{"id":"96720438f9d26372","type":"debug","z":"5dd282cb2d8f9a98","name":"USB_DBG","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1330,"y":740,"wires":[]},{"id":"10bea9acf899dfad","type":"gate","z":"5dd282cb2d8f9a98","name":"","controlTopic":"control","defaultState":"open","openCmd":"enable","closeCmd":"disable","toggleCmd":"toggle","defaultCmd":"default","statusCmd":"status","persist":true,"x":290,"y":600,"wires":[["67f1196554e088e7","8ec8563ae3b3e3a8"]]},{"id":"f8d33d3448a59c20","type":"inject","z":"5dd282cb2d8f9a98","name":"enable","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"control","payload":"enable","payloadType":"str","x":110,"y":560,"wires":[["10bea9acf899dfad"]]},{"id":"db8f51fbdbcc46da","type":"inject","z":"5dd282cb2d8f9a98","name":"disable","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"control","payload":"disable","payloadType":"str","x":110,"y":620,"wires":[["10bea9acf899dfad"]]},{"id":"d60413ff6f0f2b8d","type":"ui_spacer","z":"5dd282cb2d8f9a98","name":"spacer","group":"e984c0a6.577b38","order":4,"width":1,"height":1},{"id":"4612c4d710d4e759","type":"ui_spacer","z":"5dd282cb2d8f9a98","name":"spacer","group":"e984c0a6.577b38","order":6,"width":5,"height":1},{"id":"dd396f92205777f1","type":"ui_spacer","z":"5dd282cb2d8f9a98","name":"spacer","group":"e984c0a6.577b38","order":38,"width":1,"height":1},{"id":"c5629d70ea49b513","type":"ui_spacer","z":"5dd282cb2d8f9a98","name":"spacer","group":"e984c0a6.577b38","order":39,"width":5,"height":1},{"id":"56df128c9d81f1be","type":"ui_spacer","z":"5dd282cb2d8f9a98","name":"spacer","group":"e984c0a6.577b38","order":41,"width":1,"height":1},{"id":"4ed53b0b6e82616e","type":"ui_spacer","z":"5dd282cb2d8f9a98","name":"spacer","group":"e984c0a6.577b38","order":43,"width":1,"height":1},{"id":"b0a52c584223b5e6","type":"ui_spacer","z":"5dd282cb2d8f9a98","name":"spacer","group":"e984c0a6.577b38","order":45,"width":1,"height":1},{"id":"8f888b40712ed182","type":"ui_spacer","z":"5dd282cb2d8f9a98","name":"spacer","group":"e984c0a6.577b38","order":47,"width":1,"height":1},{"id":"061a26300f6473c8","type":"ui_spacer","z":"5dd282cb2d8f9a98","name":"spacer","group":"e984c0a6.577b38","order":50,"width":5,"height":1},{"id":"f6a9ef6bc204154b","type":"ui_spacer","z":"5dd282cb2d8f9a98","name":"spacer","group":"e984c0a6.577b38","order":53,"width":1,"height":1},{"id":"32ff10a5cef6b8d8","type":"ui_spacer","z":"5dd282cb2d8f9a98","name":"spacer","group":"e984c0a6.577b38","order":55,"width":1,"height":1},{"id":"a4159add45265d12","type":"ui_spacer","z":"5dd282cb2d8f9a98","name":"spacer","group":"e984c0a6.577b38","order":57,"width":1,"height":1},{"id":"0fdc779d3e8f5c30","type":"ui_spacer","z":"5dd282cb2d8f9a98","name":"spacer","group":"e984c0a6.577b38","order":59,"width":1,"height":1},{"id":"5cd87ef7a7fa1f10","type":"ui_spacer","z":"5dd282cb2d8f9a98","name":"spacer","group":"e984c0a6.577b38","order":61,"width":1,"height":1},{"id":"47ca2af7.382984","type":"mqtt-broker","name":"MQTT","broker":"192.168.0.100","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e984c0a6.577b38","type":"ui_group","name":"Home","tab":"65a91986.4fbe1","order":1,"disp":true,"width":5,"collapse":false},{"id":"a2003b12.8d4648","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"65a91986.4fbe1","type":"ui_tab","name":"Molenstraat_23","icon":"dashboard","order":1,"disabled":false,"hidden":false}]